@import "tailwindcss";


@layer base {
    
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        };
        
        body {
            color: #FFFFFF;
            background-color: #000;
            font-family: "Inter", sans-serif;

        }

        html{
            scroll-behavior: smooth;
        }
        };


        @layer utilities {
            .text-gradient {
                background: linear-gradient(135deg, rgba(37 99 235) 0%, rgb(249 115 22) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;    /*  usamos isso para que o gradient apareça no texto */
            }
        }
